body {
    font-family: 'VT323', monospace;
    letter-spacing: 2px;
}

.main-container {
    text-align: center;
}

.name {
    text-transform: uppercase;
    font-size: 50px;
}

.type {
    font-size: 30px;
}

