body {
    background: url('https://archive-media-1.nyafuu.org/wg/image/1407/71/1407719037197.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'VT323', monospace;
    letter-spacing: 2px;
}
.button {
    background-size: 100%;
    background-position: 0px -40px;
    font-size: 30px;
    height: 100px;
    width: 250px;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 20px;
    color: yellow; 
    background-color: #FF4500;
    font-weight: bold;
}

.button:focus {
    outline: 0;
}

.button:hover {
    background-color: #8B0000;
}

.main-container {
    text-align: center;
}

.name {
    text-transform: uppercase;
    font-size: 50px;
}

.type {
    font-size: 30px;
}

.stat {
    font-size: 30px;
}

.weight {
    font-size: 30px;
}